<div class="blog-main">
    <div class="container-fluid">
        <p class="blog-path">
            <a href="#/home">
                Home
            </a>
            <span> &raquo; </span>
            <a href="#/reviews">
                Reviews
            </a>
            <span> &raquo; </span>
            <a href="#/reviews/{{review.category}}">
                {{review.category}}
            </a>
            <span> &raquo; </span>
            <a href="#/reviews/{{review.title}}">
                {{review.title}}
            </a>

        </p>
        </p>
        <div class="blog-title">
            <h1>{{review.title}}</h1>
            <h3>Posted by <span class="darker">{{review.author}} </span> on date in <span class="darker">{{review.category}}</span>
            </h3>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="blog-list">
                    <div class="blog-review">
                        <div class="review-info">
                            <p>Posted by <span class="darker">{{review.author}}</span>
                                on {{review.date}} in <span class="darker">{{review.category}}</span>
                                | 1 Comments
                            </p>
                        </div>
                        <div class="review-content">
                            <div class="row">              
                                <div class="thumbnail">
                                    <a href="#/">
                                        <img src="https://image.freepik.com/free-photo/cute-cat-picture_1122-449.jpg" alt="zaglavie">
                                    </a>
                                </div>
                                <p>{{review.reviewText}}</p>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="add-comment">
                    <h2>Leave a Reply</h2>
                    <div class="form-group">
                        <input type="text" class="form-control comment-input comment-info" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control comment-input comment-info" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control  comment-input" id="message" rows="7" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-custom">Add Comment</button>
                </div>
            </div>
            
            <div class="col-sm-3">
                <aside class="sidebar">
                     <h3>
                        Categories
                    </h3>
                    <ul>
                        <li>
                            <a href="#/reviews/Action">Action</a>
                        </li>
                        <li>
                            <a href="#/reviews/Comedy">Comedy</a>
                        </li>
                        <li>
                            <a href="#/reviews/Crime">Crime</a>
                        </li>
                        <li>
                            <a href="#/reviews/Thriller">Thriller</a>
                        </li>
                        <li>
                            <a href="#/reviews/Drama">Drama</a>
                        </li>
                        <li>
                            <a href="#/reviews/Sci-fi">Sci-Fi</a>
                        </li>
                    </ul>
                
                

                 
                      <h3>
                        Newest users
                    </h3>
                    <ul>
                        {{#each users}}
                        <li>
                            <a href="#/">{{username}}</a>
                        </li>
                        {{/each}}
                    </ul>
                

                 
                     <h3>
                        Lorem lorem
                    </h3>
                    <ul>
                        <li>
                            <a href="#/">Lorem lorem</a>
                        </li>
                        <li>
                            <a href="#/">Lorem lorem</a>
                        </li>
                        <li>
                            <a href="#/">Lorem lorem</a>
                        </li>
                        <li>
                            <a href="#/">Lorem lorem</a>
                        </li>
                        <li>
                            <a href="#/">Lorem lorem</a>
                        </li>
                        <li>
                            <a href="#/">Lorem lorem</a>
                        </li>
                    </ul>
                
                </aside>
            </div>
        </div>
    </div>
</div>
